{% extends 'lemni/base.html' %}
{% load static %}
{% block title %}Artists{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/artists_list.css'%}">{% endblock %}
{% block content %}
<div class='artists_list'>
    <h1 class='title'>Artists</h1>
    <!-- <input type="text" placeholder="Search..."> -->
    {% for artist in artists %}
    
        <div class='artist'>
            <a class='artist-link' href="{{ artist.get_absolute_url }}">
                <img class='photo' src="{{ artist.photo.url }}" alt="">
                <span class='artist-alias'>{{ artist.alias }}</span>
            </a> 
        </div>   
        <!-- <div class='artist-alias'>{{ artist.alias }}</div> -->
    
    

    {% endfor %}
</div>
{% endblock %}