body{
    height: 100%;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    /* background-image: url('../imgs/1.jpeg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1250px 610px; */ 
    background-color: #e6ccff;
  } 

.margin-bg {
    margin-top: -8vh;
}

.body1 {
    /* margin-top: 80px; */
    /* width: 1228px; */
    height: 94vh;
    width: 100%;
    /* height: 70%; */
    margin: 0;
    margin-top: 29px;
    background-image: url('../imgs/5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
   
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -130px;
}
 
  
.header-left {
    display: inline-block;
    height: 54px;
    background-color: rgb(194, 11, 226);
    /* margin-top: 5px; */
    /* margin-right: -4px; */
    /* margin-left: 5px; */
    padding-top: 5px;
    /* margin-bottom: 5px; */
    width: 20%;
    padding-top: 12px;
      /* position: fixed; */
      /* rgb(194, 11, 226) */
      /* left: 10%; */
  }

.header-text {
    display: inline-block;
    color: rgb(0, 0, 0);
    font-weight: bold;
    
    /* margin-top: 5px; */
    /* line-height: 0.5em; */
    padding-left:23%;
    margin-top: -5px;
    font-size: 45px;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Dancing Script', cursive;

    text-align: center;
    /* text-decoration: none; */
    }

.main_link {
    text-decoration: none;
}

.header-right {
    position: absolute;
    /* top: 0; */
    /* margin-top: -14px; */
    margin-left: -10%; 
    display: inline-block;
    /* margin-left: -4px; */
    height: 60px;
    width: 80%;
    left: 30%;
    /* margin-left: -133px; */
    /* position: fixed; */
    background-color: MediumSeaGreen; 
    padding-top: 6px;
    /* padding-bottom: -10px; */
    /* vertical-align: bottom; */
    /* text-align: center; */
    /* Orange, MediumSeaGreen, StateBlue ,Violet */
    /* #9963ff #9c1fec */
}

.Artists {
    font-size: 20px;
    /* padding-top: 10px;  */
    
    /* text-align: bottom; */
    margin-left: 20px;
    font-family: 'Yusei Magic', sans-serif;
    
    /* padding-top: 5%; */
    /* margin-bottom: 10px; */
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.Songs {
    font-size: 20px;
    /* padding-top: 10px;  */
    justify-content: center;
    text-decoration: none;
    margin-left: 20px;
    line-height: 2.7em; 
    /* "line_height was 3em" */
    color: rgb(0, 0, 0);
    font-family: 'Yusei Magic', sans-serif;
}

.Albums {
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Yusei Magic', sans-serif;
}

.Clips {
    /* padding-top: 10px;  */
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Yusei Magic', sans-serif;
}

.Artists:hover, .Songs:hover, .Albums:hover, .Clips:hover {
    /* text-decoration: underline; */
    border-bottom: 2px solid black;
    /* color: blueviolet; */
}
/* .Artists:visited {
    border-bottom: chartreuse;
} */

.quote {
    display: inline-block;
    /* height: 10%; */
    width: 953px;
    vertical-align: middle;
    /* background-size: cover; */
    /* background-position: center center; */
    /* background-image: url('../imgs/5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    /* background-color: blueviolet; */
    color: rgb(255, 238, 0);
    font-size: 36px;
    /* margin-top: 21px; */
    padding-bottom: 230px;
    padding-left: 65px;
    margin-right: -10px;
    /* text-align: center; */
    /* font-family: 'Lucida Console', monospace, sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    /* width: 100%; */
    /* background-image: url('../imgs/4.jpeg'); */
}
.bet {
    padding-left: 155px;
}

.bet_pic {
    display: inline-block;
    padding-top: 95px;
    width: 280px;
    height: 280px;
    margin-left: -20px;
}

.pic {
    display: inline-block;
    padding-top: 50px;
}

.my_message {
    text-align: center;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 60px;
    margin-bottom: -60px;
}

.wrapper-btn {
    display:inline;
    width:200px;
    justify-content:space-around;
    align-items:center;
    margin-left: 45%;
    /* margin-bottom: 10px; */
    /* line-height: 1.5em; */
}

.push {
    height: 130px;
}

.Sign_up {
    text-decoration: none;
    /* line-height: 1.5em; */
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
    /* margin-bottom: 25px; */
    /* padding-bottom: 8; */

    margin-right: 35px;
    color: blueviolet;
    background-color: white;
    border: blueviolet solid;
    width:110px;
    height:40px;
    border-radius: 20px;
}

.Sign_up:hover {
    color: white;
    background-color: blueviolet;
}  
  
.Log_in {
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8.73px;
    padding-right: 17.5px;
    padding-left: 17.5px;
    color: white;
    background-color: blueviolet;
    border-radius: 20px;
    
}

.Log_in:hover {
    /* opacity: 0.8; */
    color:  blueviolet;
    background-color: white;
    border: blueviolet solid;
    padding: 6px;
    padding-right: 14.341px;
    padding-left: 14.341px;
}

.Log_out {
    margin-left: 10%;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8.73px;
    padding-right: 17.5px;
    padding-left: 17.5px;
    color: white;
    background-color: blueviolet;
    border-radius: 20px;
}

.Log_out:hover {
    /* opacity: 0.8; */
    color:  blueviolet;
    background-color: white;
    border: blueviolet solid;
    padding: 6px;
    padding-right: 14.341px;
    padding-left: 14.341px;
}

.profile {
    /* width: 200px; */
    margin-left: -110px;
    /* font-size: 16px; */
    color:rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    
}

.profile:hover {
    color:rgb(251, 255, 0);
}

.prof_link {
    font-size: 20px;
}

.prof {
    display: inline-block;
    width: 200px;
}

footer {
    background-color: rgb(194, 11, 226);
    text-align: center;
    width: 100%;
    height: 130px;
    /* margin: 0 auto; */
    /* position: fixed; */
    /* bottom: 0; */
    /* margin-top: 130px; */
}

/* .social a {
    color:rgb(0, 0, 0);
} */

.social a img{
    /* background-color: white; */
    width: 24px;
    margin-left: 10px;
    border-radius: 20%;
    margin-bottom: 5px;
    line-height: 3em;
    box-sizing: border-box;
    background-color:#E0FFFF;
}
.social a img:hover {
    /* padding: 2px; */
    /* background-color: chartreuse; */
    /* border: 2px solid chartreuse; */
    /* line-height: 1.2em; */
    /* margin: 1px; */
    /* background-color: chartreuse; */
    /* margin-top: 15px; */
    background-color: Cyan;

}
/* footer a {
    line-height: 1.1em;
} */

.reference {
    padding-bottom: 10px;
}

.reference span {
    font-size: 20px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}