<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}Activation is done{% endblock %}</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/activation_done.css' %}">
</head>

<body>
   <div class="box">
        <!-- <span>You've successfully passed the registration!</span><br> -->
        <span class="letter">User has been successfully activated.</span><br>
        <span class="link"><a href="{% url 'lemni:login' %}">Enter the site</a></span>
   </div>
</body>
</html>

