{% extends 'lemni/base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content%}
    <h2 class="title">The user's profile of {{ user.username }}</h2>
    {% if user.first_name  and user.last_name %}
        <span class="greeting">Hi, {{ user.first_name }}  {{ user.last_name }}!</span>
    {% else %}
        <span class="greeting">Hi!</span>

    <div>Here have to be songs and artists of User</div>
    {%endif%}
    <div class='label'>Email: <span class="email">{{user.email}}</span></div>
{% endblock %}